.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 100px 50px 25px;
  background-color: #090d0ec7;
}

.product__details {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.product__actions {
  position: relative;
}

.highlight {
  color: #fdfc02;
}

.product__title {
  color: #fdfc02;
  margin: 0;
}

.glitch__container {
  position: relative;
  height: 60px;
  font-size: 25px;
}

.glitch__container h2 {
  position: absolute;
  width: 100%;
  text-align: center;
}

.glitch--two {
  color: #fdfc02;
  animation: glitchTwo 5s infinite ease-in-out;
  transform: translate3d(0, 0, 0);
}

.glitch--three {
  animation: glitchThree 2s infinite ease-in-out;
  transform: translate3d(0, 0, 0);
}

@keyframes glitchTwo {
  0% {
    color: #ffcf00;
    transform: translate3d(2px, 0, 0);
    z-index: 1;
    opacity: 0.5;
  }
  25% {
    color: #f7de04;
    transform: translate3d(-1px, -1px, 0);
    z-index: 0;
    opacity: 0.8;
  }
  50% {
    color: #ffcf00;
    transform: translate3d(-2px, 2px, 0);
    z-index: 1;
    opacity: 0.5;
  }
}

@keyframes glitchThree {
  0% {
    color: #fdfc02;
    transform: translate3d(1px, 0, 0);
    z-index: 1;
    opacity: 0.5;
  }
  25% {
    color: #f7de04;
    transform: translate3d(-2px, -1px, 0);
    z-index: 1;
    opacity: 0.2;
  }
  50% {
    color: #f7de04;
    transform: translate3d(1px, 1px, 0);
    z-index: 0;
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
}

.product__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: yellow;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: 0.8s;
  &:hover {
    background-color: #cece11;;
  }
}

.payment--buy {
  background-color: yellow;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: 0.8s;
  width: 70px;
  &:hover {
    background-color: #cece11;;
  }
}

.payment--all {
  background-color: yellow;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: 0.8s;
  width: 70px;
  display: block;
  margin: 0 auto;
  &:hover {
    background-color: #cece11;;
  }
}

.payment--close {
  background-color: white;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: 0.8s;
  width: 50px;
  &:hover {
    background-color: #cece11;;
  }
}

.form__wrapper {
  width: 50%;
  margin: 0 auto;
}

.form__field {
  padding: 15px 0;
}

.form__field input {
  width: 100%;
}

.image {
  width: 250px;
}

.image__container {
  overflow: hidden;
}

.modal {
  background-color: black;
}

.modal--close {
  display: none;
}

.modal--open {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.message--success {
  color: chartreuse;
}

.message--error {
  color: crimson;  
}

.message--process {
  color: #f7de04;
}

.btn__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}