.footer__logo {
  background-image: url("../../dm.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  width: 150px;
}

.layout {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
